@import url('https://fonts.googleapis.com/css2?family=Quantico:ital@1&display=swap');
body{
	background-image: url(Images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Quantico', sans-serif;
}
.wrapper{
	width: 500px;
	height: 350px;
	border-radius: 8px;
	margin: 0 auto;
	margin-top: 8%;
	padding-top: 10px;
	background-color: rgba(51, 48, 55, 255);
	border: 1px solid #ffff;
}
h1{
	text-align: center;
	color: #ffff;
}
.form{
	width: 400px;
	margin: 0 auto;
	padding: 20, 0, 0, 0;
}
#result{
	text-align: center;
	background-color: #494552;
	color: #ffff;
	border-radius: 4px;
	height: 25px;
	font-size: 17px;
}
.option{
	margin-top: 10px;
	color: #ffff;
}
.option input{
	float: right;
	border-radius: 3px;
}
.result{
	display: grid;
	grid-template-columns: 4fr 1fr;
	column-gap: 20px;
}
#generate {
    background-color: #494552;
    color: #FFFFFF;
    width: 100%;
    height: 35px;
    padding: 0;
    border: 3px solid #a6a5ab;
    border-radius: 3px;
    margin-top: 10px;
    font-size: 17px;
}
@media (max-width: 800px){
	.wrapper{
		width: 350px;
		height: 500px;
	}
	.form{
		width: 300px;
	}
	.option{
		margin-top: 17px;
    }
    #generate{
    	margin-top: 20px;
    }
}
@media (max-width: 500px){
	.wrapper{
		width: 250px;
		height: 570px;
	}
	.form{
		width: 200px;
	}

}